html{
    cursor: url(/Assets/Imagens/mata_mosquito.png) 30 30 auto;
}

body{
    background: url(/Assets/Imagens/bg.jpg) no-repeat;
    background-size: 100%;
}

.mosquito_1{
    width: 25px;
    height: 25px;
}

.mosquito_2{
    width: 100px;
    height: 100px;
}

.mosquito_3{
    width: 150px;
    height: 150px;
}

.lado_A{
    transform:  scaleX(1);
}

.lado_B{
    transform:  scaleX(-1);
}
.lado_C{
    transform: scaleY(1);
}

.lado_D{
    transform: scaleY(-1);
}


.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #ccc;
    background-color: #cccccc65;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}